<!DOCTYPE html>
<html>
<article>
<h2>{{header}}</h2>
<p>{{content}}</p>
<body onload="onStart()">
<form> 
Search by Recipe Name: <input type="text" placeholder="Search for Recipe" id = "recipe" name="search" size="20" onkeyup="recipechecker()" autofocus>
</form>
{{#each data}}
<article class="recipeHome">

    {{! need to add: holiday recipe/quick & easy designations, reviews link, average review score}}
    <i>Added {{time}}</i>
    <h3 class="recipeName">{{this.recipeName}}</h3> 
    <div>
        Prep Time: {{this.prepTime}} Minutes <br>
        Cook Time: {{this.cookTime}} Minutes <br>
        Ingredients <br>
        <ul>
            {{#each this.ingredients}}
            <li>{{this}}</li>
            {{else}}
            There doesn't appear to be any ingredients for this recipe.
            {{/each}}
        </ul>
        Directions <br>
        <ol>
            {{#each this.directions}}
            <li>{{this}}</li>
            {{else}}
            You don't need to follow any directions for this recipe. Yay!
            {{/each}}
        </ol>
        <br>
        {{!Here, make the data from the listing look nice in a presentatble format}}
    </div>
</article>

{{else}}

<article>
    <h3>No recipes have been added yet</h3>
    <a href="/addRecipe">Be the first to add a recipe</a>
</article>
{{/each}}
<article id = "nothingmatches">
    <h2>No recipes match your search</h2>
</article>
</body>
<script type="text/javascript">
    function onStart() {
        var unhide = document.getElementById("nothingmatches");
        unhide.style.display = "none";
    }
    function recipechecker() {
        var recipeBar = document.getElementById("recipeName");
        var recipeName = recipeBar.value.toLowerCase();
        var recipes = document.getElementsByClassName("recipeHome");
        var somethingDisp = false;
        var unhide = document.getElementById("nothingmatches");
        unhide.style.display = "none";
        if (recipes != null) {
            for (var k = 0; k < recipes.length; k++) {
                var itsComm = (recipes[k].getElementsByClassName("recipeName")[0].textContent).toLowerCase();
                if (recipeName == itsComm || itsComm.startsWith(recipeName)) {
                    recipes[k].style.display = "";
                    somethingDisp =true;
                }
                else
                    recipes[k].style.display = "none";
            }
        }

        if (!somethingDisp) {
            unhide.style.display = "";
        }
        


    }
</script>
</html>