<!DOCTYPE html>
<html>
<article id="homePage">
    <h2>{{header}}</h2>
    <p>{{content}} <span id="notification"></span></p>

    <body onload="onStart()">
        <form>
            Search by Recipe Name: <input type="text" placeholder="Search for Recipe" id="recipeSearch" name="search"
                size="50" onkeyup="recipechecker()" autofocus>
        </form>
    </body>
</article>
<ul id="sticky" class="draggable">
    <label>Grocery List</label>
</ul>
<div id="hereRecipes">
    {{#each data}}
    <article class="recipeHome">

        <i>Posted {{this.timePosted}}</i>
        <h3 class="recipeName"><a href="/addreview/{{this.name}}">{{this.name}}</a></h3>
        <div>
            {{#if this.holiday}}
            <img src="https://i.pinimg.com/originals/bd/5b/7d/bd5b7d0be7dfbfc70b7e0b2efdff83b1.jpg" id="holidayRecip">
            {{/if}}

            {{#if this.quick}}
            <img src="https://www.jing.fm/clipimg/detail/161-1611705_instant-feedback-quick-and-easy-icon.png"
                id="quick">
            {{/if}}
            <br>
            Average Review Rating: {{this.rating}} <br>
            Prep Time: {{this.prepTime}} Minutes <br>
            Cook Time: {{this.cookTime}} Minutes <br>
            Ingredients <br>
            <ul class="draggable">
                {{#each this.ingredients}}
                <li class="ingredient">{{this.name}}</li>
                {{else}}
                There doesn't appear to be any ingredients for this recipe. Frugal!
                {{/each}}
            </ul>
            Directions <br>
            <ol>
                {{#each this.directions}}
                <li>{{this}}</li>
                {{else}}
                You don't need to follow any directions for this recipe. Yay!
                {{/each}}
            </ol>
            <br>
            {{!Here, make the data from the listing look nice in a presentatble format}}
            <a href="/reviews/{{this.name}}">See Recipe Reviews</a>
            <br>
            <a href="/removeRecipe/{{this.name}}">Remove Recipe</a> {{!currently a broken link}}
        </div>
    </article>

    {{else}}

    <article>
        <h3>No recipes have been added yet</h3>
        <a href="/addRecipe">Be the first to add a recipe</a>
    </article>
</div>
{{/each}}
<article id="nothingmatches">
    <h2>No recipes match your search</h2>
</article>
<article id="footer"><a href="/description">About this Website</a></article>
</body>
<script type="text/javascript">
    function onStart() {
        var unhide = document.getElementById("nothingmatches");
        unhide.style.display = "none";
    }
    function recipechecker() {
        var recipeBar = document.getElementById("recipeSearch");
        var recipeName = recipeBar.value.toLowerCase();
        var recipeHome = document.getElementsByClassName("recipeHome");
        var somethingDisp = false;
        var unhide = document.getElementById("nothingmatches");
        unhide.style.display = "none";
        if (recipeHome != null) {
            for (var k = 0; k < recipeHome.length; k++) {
                var itsRecip = (recipeHome[k].getElementsByClassName("recipeName")[0].textContent).toLowerCase();
                if (recipeName == itsRecip || itsRecip.startsWith(recipeName)) {
                    recipeHome[k].style.display = "";
                    somethingDisp = true;
                }
                else
                    recipeHome[k].style.display = "none";
            }
        }
        if (!somethingDisp) {
            unhide.style.display = "";
        }
    }
    $('#notification').click(function () {
        $('#notification').css("background-color", "white");
        $('#notification').html("");
    })
</script>
<script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.8/lib/draggable.js"></script>
<script>
    const draggable = new Draggable.default(document.querySelectorAll('.draggable'), {
        draggable: 'li'
    });

    {{!-- const groceryDraggable = new Draggable.default(document.querySelectorAll('.sticky'), {
        draggable: '.groceryItem'
    }); --}}

    let addItem = false;
    let removeItem = false;

    draggable.on('drag:over:container', (e) => {
        if (e.overContainer.id === 'sticky' && e.sourceContainer.id !== 'sticky') {
            addItem = true;
        }
    })

    draggable.on('drag:stop', (e) => {
        if (addItem) {
            $('#sticky').append('<li class="groceryItem">' + e.source.innerText + '</li>');
            addItem = false;
        }
        if (removeItem) {
            let del = e.data.source;
            del.parentNode.removeChild(del);
            removeItem = false;
        }
    })

    draggable.on('drag:out:container', (e) => {
        if (e.data.originalSource.className === "groceryItem draggable--original") {
            removeItem = true;
        }
    });
</script>

</html>