<article>
    <h2>{{header}}</h2>
    <p>{{content}}</p>
</article>
{{#each data}}
<article class="entirelisting">
    <i>Added {{time}}</i>
    <h3 class="community">{{this.community}}</h3> 
    <div>
        {{this.beds}} Bedrooms <br>
        {{this.baths}} Bathrooms <br>
        ${{this.rent}} {{this.div}} Per Month <br>
        Length of Lease: {{this.length}} <br> 
        <p class="description">{{this.description}}</p>
        Features <br>
        <ul>
            {{#each this.features}}
            <li>{{this}}</li>
            {{else}}
            The lessor has not shared any features with us.
            {{/each}}
        </ul>
        Contact: {{this.name}} <br>
        Phone: {{this.phone}} <br>
        <br>
        {{!Here, make the data from the listing look nice in a presentatble format}}
    </div>
</article>

{{else}}

<article>
    <h3>No recipes have been added yet</h3>
    <a href="/addRecipe">Be the first to add a recipe</a>
</article>

{{/each}}