<article>
    <h2>{{header}}</h2>
    <p>{{content}}</p>
</article>
{{#each data}}
<article class="entirerecipe">
    <i>Posted {{this.timePosted}}</i>
    <h3 class="recipeName"><a href="/addreview/{{this.name}}">{{this.name}}</a></h3> 
            <div>
            {{#if this.holiday}}
            <img src="https://i.pinimg.com/originals/bd/5b/7d/bd5b7d0be7dfbfc70b7e0b2efdff83b1.jpg" id="holidayRecip">
            {{/if}}

            {{#if this.quick}}
            <img src="https://www.jing.fm/clipimg/detail/161-1611705_instant-feedback-quick-and-easy-icon.png"
                id="quick">
            {{/if}}
            <br>
            Average Review Rating: {{this.rating}} <br>
            Prep Time: {{this.prepTime}} Minutes <br>
            Cook Time: {{this.cookTime}} Minutes <br>
            Ingredients <br>
            <ul>
                {{#each this.ingredients}}
                <li>{{this.name}}</li>
                {{else}}
                There doesn't appear to be any ingredients for this recipe. Frugal!
                {{/each}}
            </ul>
            Directions <br>
            <ol>
                {{#each this.directions}}
                <li>{{this}}</li>
                {{else}}
                You don't need to follow any directions for this recipe. Yay!
                {{/each}}
            </ol>
            <br>
            {{!Here, make the data from the listing look nice in a presentatble format}}
            <a href="/reviews/{{this.name}}">See Recipe Reviews</a>
            <br>
            <a href="/removeRecipe/{{this.name}}">Remove Recipe</a> {{!currently a broken link}}
        </div>
</article>

{{else}}

<article>
    <h3>No recipes have been added yet to this category</h3>
    <a href="/addRecipe">Be the first to add a recipe to this category</a>
</article>

{{/each}}